
# Ignore paths that contain user-generated content.
sites/*/sync
!.gitignore
sites/*/files
sites/*/sync
/vendor/
/libraries/
/sites/*.dd
/dbbackup/
composer.phar
/sites/default/services.yml
sites/*/settings*.php
sites/*/services*.yml
sites/*/files
sites/*/private
sites/*.dd
/sites/development.services.yml
/themes/custom/*/.sass-cache
/themes/custom/*/.sass-cache/*
# Ignore configuration files that may contain sensitive information.
*/settings*.php
core/vendor/*
# Ignore paths that contain user-generated content.
*/files
sites/default/files/
*/private
readme.txt
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/example.gitignore
/LICENSE.txt
/README.txt
/web.config
core/scripts/*.sh
# Ignore paths that may contain temporary files
sites/*/translations
sites/*/tmp
sites/*/cache
sites/README.txt
sites/example.sites.php
sites/example.settings.local.php
sites/default/dev.settings.php
sites/default/services.yml
sites/default/default.services.yml
sites/default/default.settings.php
sites/default/files/*
sites/default/files/