@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$open-sans: 'Open Sans', sans-serif;
//Theme Color
$theme-color-white: #ffffff;
$theme-color-black: #000000;
$theme-color-dark-gray: #2A2A2A;
$theme-color-gray: #565656;
$theme-color-light-gray: #f5f5f5;
$theme-color-lighter-gray: #6C6D7B;
$theme-color-lightest-gray: #dddcdc;
$theme-color-yellow: #FCB61C;
$theme-color-blue: #263B95;
$theme-color-blue-hover: #0077CB;
$theme-color-green: green;
$theme-color-red: red;
$theme-color-light-green: #28a745;
$theme-color-dark-blue: #20245D;

$font-weight-bold: 700;
$font-size-large: 30px;
$font-size-medium: 18px;
$font-size-regular: 14px;